table{
  width: 100%;
  border-collapse: collapse;
}

td , th{
  border: 1px solid #202020;
  text-align: start;
  padding: 10px;
  text-transform: uppercase;
}
.table-heading{
  position: relative;
}

.table-heading button{
  opacity: 0;
  transition: all .3s ease-in;
  position: absolute;
  right: 10px;
  top: 5px;
}
.table-heading.table-name:hover button{
  opacity: 1;
}
.table-heading.table-age:hover button{
  opacity: 1;
}
.table-heading.table-rating:hover button{
  opacity: 1;
}